.nB-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .nB-cover {
    background: white;
    width: 500px;
    padding: 2rem;
    border-radius: 0.4rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-height: 800px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .nB-prompt {
      font-size: 1.4rem;
    }

    label {
      display: block;
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 0.4rem;
    }

    input {
      width: 95%;
      padding: 0.5rem;
      border: 0.1px solid rgba(130, 143, 163, 0.25);

      &.error {
        border: 0.1px solid red;
      }
      &.normal {
        border: 0.1px solid rgba(130, 143, 163, 0.25);
      }
    }

    .l-title {
      input {
        width: 100%;
      }
    }

    .columns-pack {
      .input-pack {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.7rem;
      }

      .column-btn {
        background: rgb(99, 95, 199);
        padding: 0.7rem;
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-weight: 600;
        border-radius: 2rem;

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
      border-radius: 2rem;
    }

    .long-btns-pack {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1.5rem;

      .column-btn {
        background: rgb(99, 95, 199);
        padding: 0.7rem;
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-weight: 600;
        border-radius: 2rem;

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
  }
}

// --nb darkmode
.nB-overlay {
  &.dark {
    .nB-cover {
      background: #2b2c37;
      color: white;

      input,
      textarea,
      select {
        background: transparent;
        color: white;
      }

      .columns-pack {
        .column-btn {
          background: white;
          color: rgba(99, 95, 199);
        }
      }
    }
  }
}

// media query for nb overlay
@media (max-width: 750px) {
  .nB-overlay {
    .nB-cover {
      width: 300px;
    }
  }
}
