.overall {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

// const [cartState, setCartActive] = useState(false);
// useEffect(() => {
//   const html = document.querySelector("html");
//   if (html) {
//     html.style.overflow = cartState ? "hidden" : "auto";
//   }
// }, [cartState]);