.e-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .e-cover {
    background: white;
    width: 500px;
    padding: 2rem;
    border-radius: 0.4rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .e-prompt {
      font-size: 1.4rem;
    }

    label {
      display: block;
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 0.4rem;
    }

    input {
      width: 95%;
      padding: 0.5rem;
      border: 0.1px solid rgba(130, 143, 163, 0.25);
    }

    .l-title {
      input {
        width: 100%;
      }
    }

    .columns-pack {
      .input-pack {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.7rem;

        img{
            cursor: pointer;
        }
      }

      .column-btn {
        background: rgb(99, 95, 199);
        padding: 0.7rem;
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-weight: 600;
        border-radius: 2rem;

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
      border-radius: 2rem;
    }

    .long-btns-pack {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1.5rem;

      .column-btn {
        background: rgb(99, 95, 199);
        padding: 0.7rem;
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-weight: 600;
        border-radius: 2rem;
        border: none;

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
  }
}


// --edit darkmode
.e-overlay{
  &.dark{
    .e-cover{
      background: #2b2c37;
      color: white;

      input,textarea,select{
        background: transparent;
        color: white;
      }

      .columns-pack {
        .column-btn {
          background: white;
          color: rgba(99, 95, 199);
        }
      }
  
    }
  }
}



@media screen and (orientation: landscape) and (max-width: 1000px) {
  /* Your styles for screens with a maximum width of 768px in landscape orientation */
  .e-overlay {
    .e-cover {
      height: 300px;
      width: 300px;
    }
  }
}

@media (max-width: 750px) {
  .e-overlay {
    .e-cover {
      width: 300px;
      height: 320px;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 653px) and (max-width: 653px) {
  /* Your styles for landscape mode within the specified width range */
  .e-overlay {
    .e-cover {
      height: 200px;
    }
  }
}

@media (max-width: 280px) {
  .e-overlay {
    .e-cover {
      width: 250px;
    }
  }
}