.homeContainer {
  flex: auto;
  background: #f4f7fd;
  overflow-x: scroll;
  min-height: 100vh;
  padding-inline: 1.5rem;
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  overflow-y: hidden;

  .vertical-pack {
    min-width: 300px;
    min-height: 100vh;

    label {
      display: block;
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 0.4rem;
    }

    // .todo-pack {
    //   width: 100%;
    //   margin-block: 1.2rem;
    //   padding: 1.5rem;
    //   background: white;
    //   box-shadow: rgba(54, 78, 126, 0.1) 0px 4px 6px;
    //   border-radius: 0.5rem;

    //   &:hover .title {
    //     color: rgb(99, 95, 199);
    //     cursor: pointer;
    //   }

    //   .title {
    //     font-weight: 600;
    //     text-transform: capitalize;
    //   }

    //   .tracker {
    //     font-size: 0.8rem;
    //     font-weight: 300;
    //     text-transform: capitalize;
    //     margin-top: 0.5rem;
    //     display: block;
    //   }
    // }
  }

  .new-vertical-pack {
    height: 100%;
    background: #eaf0fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    min-width: 300px;
    font-weight: 600;
    color: gray;
    margin-top: 2rem;
    border-radius: 0.5rem;

    &:hover {
      color: rgb(99, 95, 199);
      cursor: pointer;
    }
  }

  // ---subtask overlay css--
  // .subtask-overlay {
  //   background-color: rgba(0, 0, 0, 0.5);
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   z-index: 100;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .subtask-cover {
  //     background: white;
  //     width: 500px;
  //     padding: 2rem;
  //     border-radius: 0.4rem;
  //     display: flex;
  //     gap: 2rem;
  //     flex-direction: column;
  //     max-height: 800px;
  //     overflow-y: auto;
  //     position: relative;
  //     z-index: 4;

  //     &::-webkit-scrollbar {
  //       display: none;
  //     }

  //     .subtask-title {
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;
  //       font-size: 1.1rem;
  //       text-transform: capitalize;
  //     }

  //     label {
  //       display: block;
  //       font-size: 0.8rem;
  //       font-weight: 600;
  //       text-transform: capitalize;
  //       margin-bottom: 0.4rem;
  //       color: rgb(130, 143, 163);
  //     }

  //     .subtask-list {
  //       .input-container-parent {
  //         width: 100%;
  //         display: flex;
  //         gap: 0.5rem;
  //         align-items: center;
  //         flex-direction: column;
  //         // margin-top: .5rem;

  //         .i-cont {
  //           background: #f4f7fd;
  //           width: 100%;
  //           padding: 0.5rem;
  //           border: 0.1px solid rgba(130, 143, 163, 0.25);
  //           display: flex;
  //           gap: 1rem;
  //           align-items: center;

  //           input[type="text"] {
  //             width: 100%;
  //             outline: none;
  //             background: transparent;
  //             border: none;
  //           }

  //           &:hover {
  //             background: #d8d7f1;
  //           }
  //         }
  //       }
  //     }

  //     .subtask-aspect {
  //       select {
  //         width: 100%;
  //         padding: 0.8rem;
  //         width: 100%;
  //         padding: 0.5rem;
  //         border: 0.1px solid rgba(130, 143, 163, 0.25);
  //         cursor: pointer;
  //       }
  //     }

  //     .options {
  //       position: absolute;
  //       right: 2%;
  //       top: 18%;
  //       text-transform: capitalize;
  //       display: flex;
  //       flex-direction: column;
  //       gap: 1.5rem;
  //       background: white;
  //       padding: 1rem 0.6rem;
  //       width: 140px;
  //       box-shadow: rgba(54, 78, 126, 0.25) 0px 10px 20px;
  //       font-size: 0.9rem;
  //       border-radius: 0.5rem;

  //       p {
  //         font-weight: 500;
  //         color: rgb(130, 143, 163);
  //         cursor: pointer;

  //         &.danger {
  //           color: red;
  //         }
  //       }
  //     }
  //   }
  // }
}

// media query for subtask overlay
@media (max-width: 750px) {
  .homeContainer {
    .subtask-overlay {
      .subtask-cover {
        width: 400px;
      }
    }

    .vertical-pack {
      min-width: 230px;
    }

    .new-vertical-pack {
      min-width: 230px;
    }
  }
}
