.homeContainer {
  flex: auto;
  background: #f4f7fd;
  overflow-x: scroll;
  min-height: 100vh;
  padding-inline: 1.5rem;
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  overflow-y: hidden;

  .vertical-pack {
    min-width: 300px;
    min-height: 100vh;

    label {
      display: block;
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 0.4rem;
    }
  }

  .new-vertical-pack {
    height: 100%;
    background: #eaf0fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    min-width: 300px;
    font-weight: 600;
    color: gray;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-family: "Open Sans", sans-serif;
    &:hover {
      color: rgb(99, 95, 199);
      cursor: pointer;
    }
  }
}

// media query for subtask overlay
@media (max-width: 750px) {
  .homeContainer {
    .subtask-overlay {
      .subtask-cover {
        width: 300px;
      }
    }

    .vertical-pack {
      min-width: 230px;
    }

    .new-vertical-pack {
      min-width: 230px;
    }
  }
}

@media (max-width: 280px) {
  .homeContainer {
    .subtask-overlay {
      .subtask-cover {
        width: 260px;
      }
    }
  }
}
